-
    const videoInfo = [
        {
            title: "Mountain Shots",
            channel: "Brisquake",
            viewCount: "32K",
            date: "2 weeks ago",
            official: false,
        },
        {
            title: "Our Planet Episode 2",
            channel: "Netflix",
            viewCount: "545.5K",
            date: "4 months ago",
            official: true,
        },
        {
            title: "Our Planet Episode 4",
            channel: "Netflix",
            viewCount: "611.2K",
            date: "3 months ago",
            official: true,
        },
        {
            title: "XDUOO 2 review",
            channel: "ZReviews",
            viewCount: "120.2K",
            date: "2 weeks ago",
            official: false,
        },
        {
            title: "The Third Balkan Wars",
            channel: "Knowledgia",
            viewCount: "120.2 K views",
            date: "6 months ago",
            official: false,
        },
        {
            title: "This Car Fasst!",
            channel: "Top Gear",
            viewCount: "120.2 K Views",
            date: " • 2 weeks ago",
            official: false,
        },
        {
            title: "XDUOO 2 review",
            channel: "ZReviews",
            viewCount: "120.2K",
            date: "2 weeks ago",
            official: false,
        },
        {
            title: "Story of Mel",
            channel: "Computerphile",
            viewCount: "120.2 K views",
            date: "2 weeks ago",
            official: true,
        },
    ];
    for (let i = 0; i < 8; i++){
        videoInfo[i].path = `imgs/thumbnails/thumb${i}.jpg`
    }


.main-wind
    .suggested-tags
        span Politics
        span Python
        span JavaScript
        span Shakespeare
        span E.M. Forster
        span Supreme Court
        span C++
        span Sass
        span George Orwell
        span Pug
        span Terminal Interface
        span WWII
        span American Revolution


    .videos
        each video in videoInfo
            .video
                img(src=video.path, alt="thumb")
                .info
                    .left
                        .pic 
                    .right
                        .title= video.title
                        .channel
                            span.c-name= video.channel
                            if video.official
                                i.fas.fa-check-circle
                        span.viewCount= video.viewCount
                        span.date= video.date
        each video in videoInfo
            .video
                img(src=video.path, alt="thumb")
                .info
                    .left
                        .pic 
                    .right
                        .title= video.title
                        .channel
                            span.c-name= video.channel
                            if video.official
                                i.fas.fa-check-circle
                        span.viewCount= video.viewCount
                        span.date= video.date
        each video in videoInfo
            .video
                img(src=video.path, alt="thumb")
                .info
                    .left
                        .pic 
                    .right
                        .title= video.title
                        .channel
                            span.c-name= video.channel
                            if video.official
                                i.fas.fa-check-circle
                        span.viewCount= video.viewCount
                        span.date= video.date